main.UIBasic-main {
    color: #292929;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.UIBasic-header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
}

.UIBasic-header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    vertical-align: center;
}

.UIBasic-navigation img {
    width: 30rem;
    height: 22rem;
    margin: 6px;
}

.UIBasic-extra {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.UIBasic-footer {
    padding: 10px 10px;
    text-align: center;
    margin-top: 5px;
}

.UIBasic-content {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}

.UIBasic-card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.UIBasic-content button {
    height: 50px;
    width: 10rem;
    border-radius: 10px;
    margin: 20px;
}

#UIBasic-logo {
    width: 300px;
    height: 75px;
}

#UIBasic-btn {
    border-radius: 10px;
    padding: 5px;
    border: solid;
}