.saved-palette {
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.saved-palette-item {
    width: 20px;
    height: 20px;
    border: solid;
}
