.palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-item {
    width: 40px;
    height: 40px;
    border: solid;
}

.PaletteForm-PaletteList {
    display: inline-block;
    flex-direction: column;
}

.PaletteForm-icon-btn {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.palette-generator {
    height: 110px;
    width: 160px;
    margin: -4px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.palette-menu {
    width: 300px;
    display: inline-block;
}

.generator-btn {
    height: 30px;
    width: 40px;
}
