.palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-item {
    width: 40px;
    height: 40px;
    border: solid;
}

.palette-generator {
    height: 110px;
    width: 160px;
    margin: -4px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.palette-menu {
    width: 300px;
    display: inline-block;
}

.generator-btn {
    height: 30px;
    width: 40px;
}
