.palette {
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-item {
    width: 20px;
    height: 20px;
    border: solid;
}

.palette-generator {
    height: 70px;
    width: 70px;
    margin: -4px;
    padding: 0;
    background-color: transparent;
    border: none;
}