
.UIBasic3-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.UIBasic3-nav a {
	padding: 20px;
	font-size: 20px;
}

.UIBasic3-content {
	display: flex;
	align-items: center;
	padding-top: 20px;
	justify-content: space-around;
}

.UIBasic3-card {
	width: 30%;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border-radius: 5px;
	padding-top: 20px;
	margin-bottom: 15px;

}

.UIBasic3-card .title {
	font-size: 24px;
	font-weight: bold;
	padding: 20px;
	text-align: center;
}

.UIBasic3-card p {
	font-size: 16px;
	line-height: 1.5;
	padding: 20px 20px;
	text-align: justify;
}

.UIBasic3-footer {
	padding: 20px;
	text-align: center;
	font-size: 14px;
	width:auto;
}