.Gradient-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.BackgroundGradient {
    width: 350px;
    height: 350px;
    border: solid 1px;
}

.Gradient-container p {
    background: #697177;
    margin-top: 0;
}