.navbar {
    display: flex;
    justify-content: space-between;
    border: solid;
    align-items: center;
    background-color:#f0dfce;
    color: #485055;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.logo {
    width: 200px;
    margin-left: 25px;

}

.link-ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
}

.user-ul {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 5px;
}

.userinfo {
    padding-left: 0px;
    padding-right: 25px;
}

.userFeatureNav {
    display: flex;
    align-items: center;
}

a:-webkit-any-link {
    color: #485055;
    cursor: pointer;
    text-decoration: none;
}

nav button {
    background: transparent;
    border: none;
}

nav button:hover {
    background: #df6769;
    border-radius: 10px;
}

.NavBar-icons {
    height: 20px;
    width: 20px;
}