#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #697177 76%, #a5c4d2 76%);
}

.linkedIn {
    width: 80px;
    margin-left: 20px;
    filter: invert(45%) sepia(38%) saturate(325%) hue-rotate(163deg) brightness(145%) contrast(86%);
}

.git {
    width: 80px;
    margin-right: 20px;
    filter: invert(87%) sepia(16%) saturate(402%) hue-rotate(158deg) brightness(89%) contrast(94%);
}