.Mockup-menu-page {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 90px;
}

.Mockup-menu {
    background-color: #697177;
    border: 1px solid #697177;
    border-radius: 5px;
    font-size: 16px;
    padding: 2px;
    width: 210px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.Mockup-menu:focus {
    border: 1px solid #697177;
    border-radius: 5px;
}

.Mockup-menu-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 7px;
}

@media only screen and (max-width: 600px) {
    .Mockup-menu-page {
        margin-left: 20px;
    }
} 