.Mockup-menu {
    background-color: #697177;
    border: 1px solid #697177;
    border-radius: 5px;
    font-size: 16px;
    padding: 2px;
    width: 210px;
}

.Mockup-menu-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 1px;
}
