/* CSS Custom Properties */
body {
  margin: 10;
  padding: 2vmin;
  height: 100vh;
  background-image: linear-gradient(#74c1b9, #f2f4ee);
  background-size: cover;
  background-repeat: no-repeat;
}

