main.UIBasic-main {
    color: #292929;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UIbutton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .UIbutton:hover {
    animation: buttonHover 0.3s ease-in-out;
  }
  
  .UIbutton:active {
    animation: buttonActive 0.3s ease-in-out;
  }
  
  @keyframes buttonHover {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  @keyframes buttonActive {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
  }