.UIBasic2-container {
  display: flex;
}

.UIBasic2-title {
  border: solid 3px;
  font-size: 30px;
}

.UIBasic2-navbar {
  padding: 3vmin;
  text-align: center;
}

.UIBasic2-Navlist {
    list-style: none;
    padding-left: 0px;
}

.UIBasic2-navbar li {
  margin-bottom: 10px;
  border: solid;
  border-radius: 10px;
  padding: 5px;
}

.UIBasic2-main article {
  padding: 20px;
  text-decoration: underline;
}

.UIBasic2-main h1 {
    font-size: 36px;
}

.UIBasic2-main p {
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
}

.blog-container {
  border-radius: 5px;
}

.blog-container h1 {
  border-radius: 5px;
}